.card-img-top {
    width: 100%;
    height: 15vw;
    max-height: 230px;
    object-fit: cover;
}

.mary {
    display: flex;
    justify-content: center;
    
}

.saul {
    padding-right: 30%;
}

.fred {
    border: dashed red;
}

.paul {
    align-items: center;
}